*.o
*.lo
*.la
*.cache
Makefile
.deps
.libs
*.m4
Makefile.in
config.h.in
*.log
configure
depcomp
missing
stamp-hl
config.guess
config.status
config.sub
config.h
install-sh
libtool
ltmain.sh
stamp-h1
compile
.svn
core
